* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  padding: 15px;
  font-family: "Inter", sans-serif;
}

.page-wrapper {
  max-width: 375px;
  margin: 0 auto;
  box-shadow: 0 0 30px 0 rgba(128, 127, 127, 0.25);
  background: #f7f7f7;
  border-radius: 20px;
}

.header {
  color: #fff;
  padding: 40px 42px 145px 42px;
  border-radius: 0 0 90px 90px;
  background: url("../img/header-bg.png") no-repeat center rgba(58, 58, 58, 0.6);
}

.hello {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.hello-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
